<div class="container">
    <div class="row">
        <div class="col-xs-12">
         <ol>
            <li>Create one</li>
            <li>Create Two</li>
            <li>Create Three</li>
            <li>Create Four</li>
         </ol>
         <hr>
         <label>Username</label>
         <input type="text" class="form-control" [(ngModel)]="username">
         <p>{{ username }}</p>
         <button
           class="btn btn-primary"
           [disabled]="username === ''"
           (click)="username = ''">Reset User</button>
           <!-- <button class="btn btn-primary" (click)="showSecret = !showSecret">Display Details</button> -->
           <button class="btn btn-primary" (click)="onToggleDetails()">Display Details</button>
           <p *ngIf="showSecret">Secret Password = tuna</p>
           <div
           *ngFor="let logItem of log"
           [ngStyle]="{backgroundColor: logItem >= 5 ? 'blue' : 'transparent'}"
           [ngClass]="{'white-text': logItem >= 5}"
            >{{ logItem }}</div>
         <app-servers></app-servers>
        </div>
    </div>
</div>
