<div class="container">
    <div class="row">
        <div class="col-xs-12">
         <ol>
            <li>Create one</li>
            <li>Create Two</li>
            <li>Create Three</li>
            <li>Create Four</li>
         </ol>
         <hr>
         <label>Username</label>
         <input type="text" class="form-control" [(ngModel)]="username">
         <p>{{ username }}</p>
         <button
           class="btn btn-primary"
           [disabled]="username === ''"
           (click)="username = ''">Reset User</button>
         <app-servers></app-servers>
        </div>
    </div>
</div>
